@charset "utf-8";
/* CSS Document */

	
body {
opacity: 0;
transition: opacity 3s ease-in-out;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #191919;
}

/* If you want the content centered horizontally and vertically */
.centered {
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: left;
	font-family: "Montserrat";
	width: 40%;
}

.fcbackground {
	width: 100%;
	height: 100%;
	transform: scaleX(1);
	background-image: url('https://corporate.asfaltoascari.com/Images/AsfaltoCorpBackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	position: absolute;
}
/* Style the image inside the centered container, if needed */
.Container {
  	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;
}


hr.emBlock {
	background-color: #3d4648;
	width: 100%;
	height: 2px;
	border: none;
	/*border-top: 1px solid black*/
}

h2 {
	color: #CCC
}

a:link {
  color: #191919;
}

/* visited link */
a:visited {
  color: #CCCCCC;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
